<section class="flex flex-col md:flex-row justify-center mt-24 w-full">
  <img src="/images/icedCoffee.jpg" class="w-2/4 mx-auto md:w-2/4" alt="" />
  <div class="flex mt-5 space-x-3 flex-col space-y-5 justify-center mx-auto">
    <h1 class="font-extrabold text-3xl text-dark">
      Follow the Winding Road to JavaJam
    </h1>

    <ul class="max-w-md space-y-1 text-dark list-disc list-inside text-xl">
      <li>Specialty Coffee and Tea</li>
      <li>Bagels, Muffins and Organic Snacks</li>
      <li>Music, and Poetry Readings</li>
      <li>Open Mic Night Every Friday</li>
    </ul>
  </div>
</section>
