<section class="m-auto w-full flex flex-col items-center pb-20">
  <h1 class="font-extrabold text-3xl mb-5">Music At JavaJam</h1>
  <p>
    The first Friday night each month at JavaJam is a special night. Join us
    from 8pm to 11pm for <br />
    some music you won't want to miss.
  </p>

  <div class="relative overflow-x-auto w-3/4 mt-5">
    <table class="w-full text-sm text-left rtl:text-right text-white">
      <thead class="text-l bg-dark text-white">
        <tr>
          <th scope="col" colspan="2" class="px-6 py-3 rounded-t-lg">
            JANUARY
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-secondary text-dark">
          <th scope="row" rowspan="2" class="px-6 py-4 font-medium h-10">
            <img
              src="/images/jason.jpg"
              alt=""
              class="rounded-3xl w-64 aspect-square"
            />
          </th>
          <td class="px-6 py-4">
            <p>
              The Champs visits us performing classics <br />
              such as Tequila.<br />
              CDs are now available.
            </p>
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4">
            <audio controls>
              <source src="/audios/swalla.mp3" type="audio/mp3" />
            </audio>
          </td>
        </tr>
      </tbody>
      <thead class="text-l bg-dark text-white">
        <tr>
          <th scope="col" colspan="2" class="px-6 py-3 rounded-t-lg">
            FEBRUARY
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-secondary text-dark">
          <th scope="row" rowspan="2" class="px-6 py-4 font-medium">
            <img
              src="/images/tequilaimage.jpg"
              alt=""
              class="rounded-3xl w-64 aspect-square"
            />
          </th>
          <td class="px-6 py-4">
            <p>
              The Champs visits us performing classics <br />
              such as Tequila.<br />
              CDs are now available.
            </p>
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4">
            <audio controls>
              <source src="/audios/Tequila.mp3" type="audio/mp3" />
            </audio>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
